mixin message({ type, text, time } = {})
  -
    const author = type === 'contact' ? currentContact : profile
    const itemClass = {
      'align-self-md-end': type === 'user',
    }
    const messageClass = {
      'text-secondary bg-light': type === 'contact',
      'bg-primary': type === 'user',
    }
    const textClass = {
      'text-light': type === 'user',
    }
    const timeClass = {
      'text-gray': type === 'user'
    }
    const avatarClass = 'd-none d-md-block align-self-md-end me-3'

  li.col-md-9.d-flex.mb-3(class=itemClass)
    +avatar(author.avatar, author.name)(class=avatarClass, width=50, height=50)
    .p-4.rounded.shadow-sm(class=messageClass)
      if type === 'contact'
        h4.h6.text-dark= currentContact.name
      p.mb-0.pb-2.border-bottom(class=textClass)= text
      small.pt-1(class=timeClass)= time
