include ../data/profile.pug

.card.mt-5.mb-5.pt-3.pb-5.border-0.text-center
  .card-body.mt-1
    +avatar(src='images/avatar_1.jpg', alt='Ваш аватар', width=90, height=90)
    h3.card-title.h6.my-3= profile.name
    p.card-text.text-muted= profile.description
.card.pt-4.border-0
  .card-body
    ul.list-group.list-group-flush
      each contact in profile.contacts
        li.list-group-item.d-flex.justify-content-between.align-items-center
          div
            h4.small.fw-normal.text-muted.mb-0= contact.name
            a.small.text-dark.text-decoration-none(href=contact.href)= contact.value
          a.text-black.text-opacity-50(href=contact.href)
            +icon(contact.icon)(width=16, height=16)
